<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rfvp.launcher">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.RFVP">

        <!-- Launcher UI -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RFVP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Player / native rendering -->
        <activity
            android:name=".RfvpGameActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.RFVP"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">

            <meta-data
                android:name="android.app.lib_name"
                android:value="rfvp" />
        </activity>

    </application>

</manifest>
